@import "tailwindcss";

* {
  font-family: Rationale;
}

@theme {
  --color-light-hover: #d4e4fc;
  --color-dark-hover: #2A004A;
  --color-dark-theme: #00061F;
  --font-rationale: "Rationale", sans-serif;
  --shadow-light-mode: 4px 4px 0 #000;
  --shadow-dark-mode: 4px 4px 0 #fff;
}
