@import "tailwindcss";

* {
  font-family: Rationale;
}

@theme {
  --color-light-hover: #FCF4FF;
  --color-dark-hover: #2A004A;
  --color-dark-theme: #11001F;
  --font-rationale: "Rationale", sans-serif;
}
